{% extends 'base.html' %}

{% block content %}

{% if category_posts %}
    <h1>{{ cats }}</h1>


    <ul>
    {% for post in category_posts %}
        
        <li>
            <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
            - (<strong>{{ post.category }}</strong>)  - {{ post.author.first_name }} {{ post.author.last_name }} - {{  post.post_date }}
            {% if user.is_authenticated %}
                <a href="{% url 'update_post' post.pk %}"><small>(Edit Post)</small></a> 
                |   <a href="{% url 'delete_post' post.pk %}"><small>(Delete Post)</small></a>  <br/>
                {{ post.body }}

                

            {% endif %}
        </small> <br/> </li>
         
    {% endfor %}
    </ul>
    <a class="btn btn-secondary" href="{% url 'home' %}">Back</a>
{% else %}

    <h2> Sorry this page doenst exist....</h2>

{% endif %}

{% endblock %}